.App {
  /* text-align: center; */
  background-color: pink;
}

.ShoppingCartContainer {
  background-color: lightgrey;
  border: 3px solid red;
}

.ItemList {
  background-color: azure;
  border: 3px solid blue;
}

.list-wrapper {
  background-color: lightyellow;
  border: 2px solid green;
  padding: 0px;
  display: grid;
  grid-template-columns: 25% 35% 10% 10% 20%;
}


.PriceSummary-grid {
  background-color: orange;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0px;
}


.price-summary-data-wrapper {
  background-color: lavender;
  border: 2px solid blue;
  padding: 0px;
}

.price-summary-ul {
  display: grid;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 50% 50%;
}

.price-summary-ul li {
  display: inline;
  border: 2px dotted purple;
}


.ItemList-ul {
  padding: 0px;
}

.ItemList-ul li {
  display: inline;
  border: 2px dotted green;
}
/*
.PriceSummary-ul {
  padding: 0px;
}

.PriceSummary-ul li {
  display: inline;
  border: 2px dotted green;
}

.PriceSummary-ul {
  padding: 0px;
}

.PriceSummary-ul li {
  display: inline;
  border: 2px dotted green;
} */

.item-image {
  height: 200px;
}

a {
  cursor: pointer;
}
