.App {
  text-align: center;
  background-color: pink;
}

.ShoppingCartContainer {
  background-color: lightgrey;
  border: 3px solid red;
}

.ItemList {
  background-color: azure;
  border: 3px solid blue;
}
