.App {
  /* text-align: center; */
  /* background-color: pink; */
  background-color: lightgray;
  padding-left: 50px;
  padding-right: 50px;
}

.ShoppingCartContainer {
  /* background-color: lightgray; */
  background-color: white;
  padding: 0px 25px 0px 25px;
  /* border: 3px solid red; */
  border: 1px solid lightgray;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.ItemList {
  /* background-color: azure; */
  /* border: 3px solid blue; */
}

.list-wrapper {
  background-color: white;
  /* background-color: lightyellow; */
  /* border: 2px solid green; */
  list-style-type: none;
  padding: 0px;
  display: grid;
  grid-template-columns: 25% 35% 10% 10% 20%;
}


.PriceSummary-grid {
  /* background-color: orange; */
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 40px 0px;
}


.price-summary-data-wrapper {
  /* background-color: lavender; */
  /* border: 2px solid blue; */
  padding: 0px;
}

.price-summary-ul {
  display: grid;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 50% 50%;
}

.price-summary-ul li {
  display: inline;
  /* border: 2px dotted purple; */
}


.ItemList-ul {
  padding: 0px;
}

.ItemList-ul li {
  display: inline;
  /* border: 2px dotted green; */
}

.item-image {
  max-height: 200px;
  /* max-height: 90%; */
}

button.unstyled-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal .modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* input[type=submit]#edit-button { */
.primary-button {
  background-color: #2185d0;
  color: #fff;
  text-shadow: none;
  background-image: none;
  font-size: 1rem;
  min-height: 1em;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
}

.EditForm {
  padding: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  /* margin: 60px; */
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.align-right {
  text-align: right;
}

.input-field-compact {
  width: 25px;
}

.colorRadioButtons {
  padding: 15px;
  /* margin: 10px; */
}

.hidden {
  visibility: hidden;
}

.thicker-line {
  color: lightgray;
  background-color: lightgray;
  border: lightgray;
  height: 3px
}

.very-thick-line {
  color: lightgray;
  background-color: lightgray;
  border: lightgray;
  height: 9px
}

.pricing-table {
  border-collapse: collapse;
}

.table-bottom-border {
  border-bottom: 2px solid lightgray;
}

.padding-left {
  padding-left: 10%;
}

.margin-left {
  margin-left: 10%;
}

.dot {
  height: 12px;
  width: 12px;
  border: 1px solid lightgray;
  border-radius: 50%;
  display: inline-block;
}

.cellPaddingBottom {
  padding-bottom: 10px;
}

.cellPadding {
  padding: 10px 0px 10px 0px;
}
